# Nginx dockerignore

**/.git

/client/node_modules
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

# Optional eslint cache
/client/.eslintcache

/client/.husky
/client/generated_types

/redis

/server/model_generator/node_modules

.REDIS_PASSWORD
